body {
  margin: 0;
  box-sizing: border-box;
  background-color: hsl(191, 100%, 34%, 1);
}

h1 {
  text-align: center;
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 0;
  background-color: #fff;
  border: black solid 1px;
}

.grid-item {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

/* Buttons */

.buttons-container {
  display: flex;
  gap: 20px;
}

.erase,
.delete {
  font-size: 1rem;
  padding: 20px 40px;
  border-radius: 20px;
  margin-top: 1rem;
}

.delete {
}
