body {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 0;
  background-color: rgb(212, 212, 212);
  border: black solid 1px;
}

.grid-item {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}
