body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  );
  /*Testing*/
  width: 100vw;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  background-color: #fff;
  border: black solid 10px;
  /* Testing */
  width: 500px;
  height: 500px;
}

.grid-item {
  border: 0.1em solid rgba(0, 0, 0, 0.082);
}

/* Buttons */

.buttons-container {
  display: flex;
  gap: 20px;
}

button,
.color-selector {
  font-size: 1rem;
  padding: 20px 40px;
  border-radius: 20px;
  margin-top: 1rem;
}

.color-selector {
  /* position: relative; */
  height: auto;
  width: 9rem;
  border-radius: 50%;
  padding: 0;
  border-top: 5rem;
  border: 0;
  background-color: transparent;
}
